{% extends 'base.html.twig' %}

{% block title %}Buses{% endblock %}

{% block body %}
    <h1>Buses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bus.id }}</td>
            </tr>
            <tr>
                <th>BusId</th>
                <td>{{ bus.busId }}</td>
            </tr>
            <tr>
                <th>BusName</th>
                <td>{{ bus.busName }}</td>
            </tr>
            <tr>
                <th>Seats</th>
                <td>{{ bus.seats }}</td>
            </tr>
        <tr>
            <td>
                <button class="button button1">A1</button>
                <button class="button button2">A2</button>
                <button class="button button3">A3</button>
                <button class="button button4">A4</button>
                <br>
                <button class="button button1">B1</button>
                <button class="button button2">B2</button>
                <button class="button button3">B3</button>
                <button class="button button4">B4</button>
                <br>
                <button class="button button1">C1</button>
                <button class="button button2">C2</button>
                <button class="button button3">C3</button>
                <button class="button button4">C4</button>
                <br>
                <button class="button button1">D1</button>
                <button class="button button2">D2</button>
                <button class="button button3">D3</button>
                <button class="button button4">D4</button>
            </td>
        </tr>
        </tbody>

    </table>

    <a href="{{ path('buses_index') }}">back to list</a>

    <a href="{{ path('buses_edit', {'id': bus.id}) }}">edit</a>

    {{ include('buses/_delete_form.html.twig') }}
{% endblock %}
